<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Favicons</title>
</head>
<body>
    <header>Favicon downloader</header>
    <main>
        <section id="download_form">
            <form action="" method="post">
                <input type="url" name="url" placeholder="Input url here">
                <button type="submit">Get favicon</button>
            </form>
        </section>
        <section id="downloaded_content">
            {% block favicon_content %}
                {% for favicon in favicons %}
                    <div class="card">
                        <h4>{{ favicon.site_url }}</h4>
                        <img src="{{ favicon.image }}" alt="{{ favicon.site_url }}" width="100">
                    </div>
                {% endfor %}
            {% endblock favicon_content %}
        </section>
    </main>
</body>
</html>
